{% extends 'base.html.twig' %}

{% block title %}Edit Approval{% endblock %}

{% block body %}
<h1>Edit Approval</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Save changes</button>
{{ form_end(form) }}

<a href="{{ path('approval_index') }}">Back to list</a>
<a href="{{ path('approval_show', {'id': approval.id}) }}">Cancel</a>
{% endblock %}
